<div class="rounded overflow-hidden shadow" style="min-width: 300px">
  <img
    class="w-full h-48 object-cover"
    [src]="room.imageUrl"
    alt="room image"
  />
  <div class="px-6 py-4">
    <h3 class="font-bold text-3xl mb-2">{{ room.name }}</h3>
    <p class="text-gray-700 text-base">
      {{ room.description }}
    </p>
  </div>
  <div *ngIf="account.role === Role.Admin" class="px-6 py-4">
    <a
      routerLink="edit/{{ room.id }}"
      class="btn btn-sm btn-primary mb-1 d-block w-full text-white font-bold py-2 px-4 rounded"
    >
      Edit
    </a>
    <button
      (click)="onDelete(room.id)"
      class="btn btn-sm btn-danger d-block w-full text-white font-bold py-2 px-4 rounded"
      [disabled]="room.isDeleting"
    >
      <span
        *ngIf="room.isDeleting"
        class="spinner-border spinner-border-sm"
      ></span>
      <span *ngIf="!room.isDeleting">Delete</span>
    </button>
  </div>
</div>
