<div class="bg-white shadow-md rounded px-8 pt-6 pb-8">
  <h3 class="text-2xl font-bold leading-7 mb-4 text-center">Verify Email</h3>
  <div *ngIf="emailStatus == EmailStatus.Verifying">Verifying...</div>
  <div *ngIf="emailStatus == EmailStatus.Failed">
    Verification failed, you can also verify your account using the
    <a
      routerLink="forgot-password"
      class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
    >
      forgot password
    </a>
    page.
  </div>
</div>
