$height-header: 80px;
$height-footer: 72px;
$color-main: #00e4a0;
$color-secondary: #3b82f6;

:root {
  --color-main: #{$color-main}; // or any global you wish to share with components
  --color-secondary: #{$color-secondary}; // or any global you wish to share with components
}

// global styles
a {
  cursor: pointer;
}

// pushes footer to bottom even if content cant
.height-container {
  min-height: calc((100vh - #{$height-footer}) - #{$height-header});
}

.btn-delete-account {
  width: 40px;
  text-align: center;
  box-sizing: content-box;
}

.loading-spinner {
  color: $color-main;
}

.hotel-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.room-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.code-editor {
  height: 300px;
}
