<div class="py-4">
  <div class="container">
    <h1>Hi {{ account.name }}!</h1>
    <p class="mb-4">Check the hotels</p>
    <div class="row w-full">
      <label class="col-2 text-gray-700 text-xl font-bold mb-2">Search:</label>
      <input
        type="text"
        class="col-10 form-control border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none"
        (ngModelChange)="setHotels()"
        [(ngModel)]="hotelSearch"
      />
    </div>
    <div class="hotel-grid">
      <ng-container *ngFor="let hotel of hotels">
        <app-hotel-card [hotel]="hotel"></app-hotel-card>
      </ng-container>
    </div>
  </div>
</div>
